# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/LMCC/[Ll]ibrary/
/LMCC/[Tt]emp/
/LMCC/[Oo]bj/
/LMCC/[Bb]uild/
/LMCC/[Bb]uilds/
/LMCC/[Ll]ogs/
/LMCC/[Uu]ser[Ss]ettings/
/LMCC/[Mm]emoryCaptures/
/LMCC/[Rr]ecordings/
/LMCC/[Aa]ssets/AssetStoreTools*
/LMCC/[Aa]ssets/Plugins/Editor/JetBrains*
/LMCC/.vs/
/LMCC/.gradle/
/LMCC/ExportedObj/
/LMCC/.consulo/
/LMCC/*.csproj
/LMCC/*.unityproj
/LMCC/*.sln
/LMCC/*.suo
/LMCC/*.tmp
/LMCC/*.user
/LMCC/*.userprefs
/LMCC/*.pidb
/LMCC/*.booproj
/LMCC/*.svd
/LMCC/*.pdb
/LMCC/*.mdb
/LMCC/*.opendb
/LMCC/*.VC.db
/LMCC/*.pidb.meta
/LMCC/*.pdb.meta
/LMCC/*.mdb.meta
/LMCC/sysinfo.txt
/LMCC/*.apk
/LMCC/*.aab
/LMCC/*.unitypackage
/LMCC/*.app
/LMCC/crashlytics-build.properties
/LMCC/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/LMCC/[Aa]ssets/[Ss]treamingAssets/aa.meta
/LMCC/[Aa]ssets/[Ss]treamingAssets/aa/*

# HMD Unity project
/HMD/[Ll]ibrary/
/HMD/[Tt]emp/
/HMD/[Oo]bj/
/HMD/[Bb]uild/
/HMD/[Bb]uilds/
/HMD/[Ll]ogs/
/HMD/[Uu]ser[Ss]ettings/
/HMD/[Mm]emoryCaptures/
/HMD/[Rr]ecordings/
/HMD/[Aa]ssets/AssetStoreTools*
/HMD/[Aa]ssets/Plugins/Editor/JetBrains*
/HMD/.vs/
/HMD/.gradle/
/HMD/ExportedObj/
/HMD/.consulo/
/HMD/*.csproj
/HMD/*.unityproj
/HMD/*.sln
/HMD/*.suo
/HMD/*.tmp
/HMD/*.user
/HMD/*.userprefs
/HMD/*.pidb
/HMD/*.booproj
/HMD/*.svd
/HMD/*.pdb
/HMD/*.mdb
/HMD/*.opendb
/HMD/*.VC.db
/HMD/*.pidb.meta
/HMD/*.pdb.meta
/HMD/*.mdb.meta
/HMD/sysinfo.txt
/HMD/*.apk
/HMD/*.aab
/HMD/*.unitypackage
/HMD/*.app
/HMD/crashlytics-build.properties
/HMD/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/HMD/[Aa]ssets/[Ss]treamingAssets/aa.meta
/HMD/[Aa]ssets/[Ss]treamingAssets/aa/*
